<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="top_inlcude(page_title)">
    <headr>
        <meta charset="UTF-8">
        <title th:text="${page_title}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link th:href="@{/css/style.css}" type="text/css"/>
    </headr>
    <body>

    </body>
</th:block>

<th:block th:fragment="chart(index_chart, name, labels, data, color)">
        <div class="row content shadow">
            <div class="col">
                <canvas th:id="${'myChart_' + index_chart}" ></canvas>
            </div>
        </div>

    <script th:inline="javascript">
        var config_[(${index_chart})] = {
            type: 'line',
            data: {
                labels: [[${labels}]],
                datasets: [{
                    label: [[${name}]],
                    borderColor: [[${color}]],
                    data: [[${data}]],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: [[${name}]]
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };



        var ctx = document.getElementById([[${"myChart_" + index_chart}]]).getContext('2d');
        var scatterChart_[(${index_chart})] = new Chart(ctx, config_[(${index_chart})]);
    </script>
</th:block>

<th:block th::fragment="down_include"  />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<th:block th:insert="fragments/includes.html :: footer_include"/>

</html>