body, html{
	background-color: rgba(203, 203, 210, 0.15);
	height: 100%;
}

.masthead {
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/maxresdefault.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.left-wrapper {
	width: 260px;
	margin: 0;
	float: left;
	background-color: #0C2946;/*#343A40;*/
	font-size: 2em;
	color: white;
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.right-wrapper {
	padding-left: 260px;
}

@media (max-width: 766px) {
	.right-wrapper {
		padding-left: 0px;
	}
}

a{
	color: white;
}
a:hover{
	color: #9086FD;
}




.logo {
	height: 55px;
	text-align: center;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

.content {
	margin: 12px;
	padding: 10px;
	background-color: white;
	border-radius: 15px;

}

.nav-link {
	display: flex;
	align-items: center;
}

.icon-options:before {
     position: relative;
     display: inline-block;
     width: 30px;
     height: 30px;
     background: url("../img/tools-2.svg") center no-repeat;
     background-size: cover;
     content: "";
     vertical-align: center;
     margin-right: 10px;
 }
 .icon-stat:before {
     position: relative;
     display: inline-block;
     width: 30px;
     height: 23px;
     background: url("../img/stat.svg") center no-repeat;
     background-size: cover;
     content: "";
     vertical-align: center;
     margin-right: 10px;
 }

  .icon-support:before {
     position: relative;
     display: inline-block;
     width: 30px;
     height: 30px;
     background: url("../img/support.svg") center no-repeat;
     background-size: cover;
     content: "";
     vertical-align: center;
     margin-right: 10px;
 }

.menu {
	text-align: left;
	margin-left:15px;
	margin-right: 15px;
	display: block;
	vertical-align: center;
	font-size: large;
	position: sticky;
}

.menu-item:hover {
	background-color: #001A34;
	border-radius: 15px;
	vertical-align: center;
	color: white;
}

.sh-btn-outline {
	background-color: rgba(0, 0, 0, 0);
	color: #9086FD;
	outline-color: red;
	border: #9086FD solid 1px;
}

.sh-btn-outline:hover {
	background-color: #9086FD;
	color: white;
}



.bar {
	background-color: white;
}
.shadow {
	-webkit-box-shadow: -1px 7px 14px -7px rgba(34, 60, 80, 0.41);
	-moz-box-shadow: -1px 7px 14px -7px rgba(34, 60, 80, 0.41);
	box-shadow: -1px 7px 14px -7px rgba(34, 60, 80, 0.41);
}

.sh-breadcrumb {
	margin-top: 15px;
	background-color: #0C2946; 
}

.sh-active {
	font-style: italic;
	color: white;
}

.sh-btn {
	margin: 5px;
}

.sh-btn-fb {
	background-color: #3b5998;
	color: white;
}



.sh-btn-vk {
	background-color: #4d7198;
	color: white;
}

.sh-min-width {
	min-width: 160px;
}

.sh-img-svg {
	fill: black;
}

.sh-form {
	margin-top: 15px;
}

.sh-align-right {
	float: none;
	margin-right: 0;
	margin-left: auto;
	text-align: right;
}

.sh-navbar {
	background-color: #0C2946;
}

.sh-navbar-logo {
	color: white;
	font-weight: bold;
	font-size: 20pt;
}

.sh-navbar-form button{
	margin-right: 10px;
}

/*.sh-main-background {
		filter: brightness(80%);
		height: 700px;
		background: url() no-repeat;
		background-size: auto, 100%;
		background-color: #030D5A;
		background-position: 50% 30%;
		margin: auto;
}*/

.sh-logo {
	font-size: 50pt;
	color: white;
	margin: auto;
	text-align: center;
	-webkit-text-stroke: #1e4d72;
    -webkit-text-stroke-width: 2px;
}

.sh-devis {
	display: block;
	left: center;
	position: relative;
	left: -5%;
	top: -4%;
	font-size: 12pt;
}

.sh-features {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20pt;
	max-width: 1200px;
}

.sh-features ul li { 
	background: url(../img/tick.png) no-repeat left 8px;
	background-position: 0% 50%;
}
.sh-features ul li { 
	border-bottom: 1px solid #ADABC5;
	font-size: 20pt;
	list-style: none;
	padding: 10px 0 10px 40px;
	text-align: center;

}

.sh-soc-block {
	background-color: white;
	text-align: center;
	margin: 30px;
	padding: 30px;
}

.sh-soc-block img {
	margin: 25px;
}

.sh-connect {
	text-align: center;
	margin: 30px;
}

.sh-connect a {
	font-size: 25pt;
	margin: 15px;
}

.sh-question-form {
	margin-left: 2px;
	margin-right: 2px;
}

@media (min-width: 768px) {
	.sh-question-form {
		margin-left: 260px;
	}
}


.sh-pagination-block {
	margin: 5px;
}
.sh-group-title {
	font-size: 15pt;
	text-align: center;
	border-bottom: black solid 2px;
}

.sh-text-content {
	font-size: 16pt;
}
.sh-support-text {
	font-size: 14pt;
}

a.col {
	text-decoration: none;
	color: #000 !important;
}

.sh-container-wrapper {
	position: relative;
}

#sh-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
}