<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content">
    <script>
        $(document).on('click', '.row-select', function(e){
            window.location.href = window.location.href + "/clients/" + e.target.parentNode.id;
        });
    </script>
    <div class="row">
        <!-- блок с кнопками для добавления социальных сетей-->
        <div class="col-12">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
        <div class="col-6">
            <a th:href="@{/app/clients}" type="button" style="margin-left: 20px"
               class="btn sh-btn sh-btn-outline shadow">Добавить приложение</a>
        </div>
    </div>
    <!--Блок содержащий таблицу подклбченных социальных сетей -->
    <div class="row  content shadow">
        <div class="col-12">
            <div style="text-align: center;"><h3>Приложения OAuth2</h3></div>
        </div>
        <div class="col-12">
            <table id="clients-table" class="table table-hover" th:unless="${clients.isEmpty()}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Client Id</th>
                    <th scope="col">Имя приложения</th>
                    <th scope="col">Valid Redirect URI</th>
                </tr>
                </thead>
                <tbody th:each=" client, i : ${clients}">
                <tr class="row-select" th:id="${client.getClientId()}">
                    <th scope="row">
                        <a style="display: block; color: black" th:href="@{/app/clients/{path}/(path=${client.getClientId()})}" th:text="${i.index + 1}"></a>
                    </th>
                    <td>
                        <a style="display: block; color: black" th:href="@{/app/clients/{path}/(path=${client.getClientId()})}" th:text="${client.getClientId()}"></a>
                    </td>
                    <td>
                        <a style="display: block; color: black" th:href="@{/app/clients/{path}/(path=${client.getClientId()})}" th:text="${client.getName()}"></a>
                    </td>
                    <td>
                        <a style="display: block; color: black" th:href="@{/app/clients/{path}/(path=${client.getClientId()})}" th:text="${client.getValidRedirectUri()}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p th:if="${clients.isEmpty()}">Ни одно приложение не создано!</p>
        </div>
    </div>

</th:block>

</body>
</html>