<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content" th:fragment="content">
    <script th:src=@{/js/reloaded.js}></script>
    <script>
        $(document).on('click', '.select-client', function(e){
            if (e.target.parentNode.dataset != null)
                load_page('/app/clients/' + e.target.parentNode.dataset.id);
        });
    </script>
    <div class="row">
        <div class="col-12">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
        <div class="col-6">
            <button th:onclick="'load_page(\'' + @{/app/clients} + '\');'" type="button" style="margin-left: 20px;"
               class="btn sh-btn sh-btn-outline shadow">Добавить приложение</button>
        </div>
    </div>
    <div class="row  content shadow">
        <div class="col-12">
            <div style="text-align: center;"><h3>Приложения OAuth2</h3></div>
        </div>
        <div class="col-12">
            <table id="clients-table" class="table table-hover" th:unless="${clients.isEmpty()}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Client Id</th>
                    <th scope="col">Имя приложения</th>
                    <th scope="col">Valid Redirect URI</th>
                    <th scope="col">Удаление</th>
                </tr>
                </thead>
                <tbody th:each=" client, i : ${clients}">
                <tr th:data-id="${client.getClientId()}">
                    <th class="select-client" th:data-id="${client.getClientId()}" scope="row">
                        <a class="select-client" th:text="${i.index + 1}"></a>
                    </th>
                    <td class="select-client" th:data-id="${client.getClientId()}">
                        <a class="select-client" th:text="${client.getClientId()}"></a>
                    </td>
                    <td class="select-client" th:data-id="${client.getClientId()}">
                        <a class="select-client" th:text="${client.getName()}"></a>
                    </td>
                    <td class="select-client" th:data-id="${client.getClientId()}">
                        <a class="select-client" th:text="${client.getValidRedirectUri()}"></a>
                    </td>
                    <td>
                        <button th:id="${'removing_' + i.index}" type="button" style="color: white; width: 150px" th:onclick="'client_remove(this.id,\'' + @{/app/clients/{clientId}/remove(clientId=${client.getClientId()})} + '\', \'Удалить\');'" class="btn sh-btn sh-btn-fb shadow">Удаление</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <p th:if="${clients.isEmpty()}">Ни одно приложение не создано!</p>
        </div>
    </div>

    <div class="row">
        <div th:insert="~{fragments/pagination :: pagination(${clients},@{app})}" class="col sh-pagination-block"></div>
    </div>

    <script>
        function client_remove(block_id, url, old_text) {
            $.ajax({
                url: url,
                method: "get",
                dataType: "html",
                beforeSend: function () {
                    $('#' + block_id).prop("disabled", true);
                    $('#' + block_id).html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Выполнение...`
                    );
                },
                success: function (data) {
                    $('#' + block_id).prop("disabled", false);
                    const result = $(data).find('#clients-table');
                    $('#clients-table').html(result);
                }
            })
        }
    </script>
</th:block>

</body>
</html>