<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content" th:fragment="content">

    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>

    <div id="client-div" class="row content shadow">
        <div class="col-12">
            <div style="text-align: center;"><h3>Подключение приложения</h3></div>
        </div>
        <div class="col-12">
            <form id="post-form" th:action="@{/app/clients}" th:object="${client}" method="post">
                <div class="form-group">
                    <label for="name">Имя приложения</label>
                    <input id="name" class="form-control" th:field="*{name}">
                    <ul class="text-danger" th:each="error: ${#fields.errors('name')}" style="margin-left: 25px">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error-message" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="type">Тип клиента</label>
                    <select class="form-control" id="type" name="type" th:field="*{accessType}">
                        <option th:each="accessTypeOpt : ${T(ml.socshared.frontend.domain.client.AccessType).values()}"
                                th:value="${accessTypeOpt}" th:text="${accessTypeOpt}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="valid-redirect-uri">Valid Redirect Uri</label>
                    <input id="valid-redirect-uri" class="form-control" th:field="*{validRedirectUri}">
                    <ul class="text-danger" th:each="error: ${#fields.errors('validRedirectUri')}" style="margin-left: 25px">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error-message" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="client-id">Client ID</label>
                    <input id="client-id" class="form-control" th:field="*{clientId}" readonly>
                    <ul class="text-danger" th:each="error: ${#fields.errors('clientId')}" style="margin-left: 25px">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error-message" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="client-secret">Client Secret</label>
                    <input id="client-secret" class="form-control" th:field="*{clientSecret}" readonly>
                    <ul class="text-danger" th:each="error: ${#fields.errors('clientSecret')}" style="margin-left: 25px">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error-message" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>
                <button id="submit-button-form" type="submit" class="btn sh-btn sh-btn-fb shadow">Сохранить приложение</button>
            </form>
        </div>
    </div>

    <script>
        $(function() {
            $('#post-form').ajaxForm({
                beforeSubmit: function(arr, $form, options) {
                    $("#submit-button-form").prop("disabled", true);
                    $("#submit-button-form").html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Сохранение...`
                    );
                },
                success: function (data) {
                    $("#submit-button-form").html("Сохранить приложение");
                    $("#submit-button-form").prop("disabled", false);
                    result = $(data).find('#client-div');
                    $('#client-div').html(result);
                }
            });
        });
    </script>

</th:block>

</body>
</html>
