


<!--    Тут должен быть вставляемый шаблон-->
    <div class="row content shadow" style="margin-top: 20px">
        <div class="col">
            <h2 style="text-align: center;" th:text="${message}"></h2>
        </div>
    </div>


<script>
    sessionStorage.setItem("is_reloaded", true);
    if (sessionStorage.getItem("is_reloaded")) {
        let location = '' + document.location;
        let id = location.replace(window.location.origin + '/', '');
        if (id === 'lk') {
            load_page(ext_url);
        } else
            load_page('/' + id);
    }
</script>
