<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${page_title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/Chart.js}"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/Chart.css}" rel="stylesheet" type="text/css"/>
    <script th:src=@{/js/moment-with-locales.min.js}></script>
    <script type="text/javascript" th:src="@{/js/tempusdominus-bootstrap-4.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tempusdominus-bootstrap-4.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <script>
        // $(document).ready(function(){
        //     const jwt_at = $.cookie('JWT_AT');
        //     const jwt_rt = $.cookie('JWT_RT');
        //     $.ajax({
        //         url: 'https://auth.socshared.ml/oauth/validate_token',
        //         type: 'POST',
        //         contentType: 'application/json; charset=utf-8',
        //         crossDomain: true,
        //         dataType: 'json',
        //         data: JSON.stringify({token: jwt_at}),
        //         success: function (data) {
        //             if (!data.success) {
        //                 $.ajax({
        //                     url: 'https://auth.socshared.ml/oauth/token',
        //                     type: 'POST',
        //                     contentType: 'application/json; charset=utf-8',
        //                     data: JSON.stringify({
        //                         client_id: '360dad92-ecb1-44e7-990a-3152d2642919',
        //                         client_secret: 'cb456410-85ca-43b5-9a12-87171ad84516',
        //                         grant_type: 'refresh_token',
        //                         refresh_token: jwt_rt
        //                     }),
        //                     crossDomain: true,
        //                     dataType: 'json',
        //                     success: function (data) {
        //                         $.cookie('JWT_AT', data.access_token);
        //                         $.cookie('JWT_RT', data.refresh_token);
        //                     },
        //                     error: function (errMsg) {
        //                         $.removeCookie('JWT_AT');
        //                         $.removeCookie('JWT_RT');
        //                        // window.location.replace("https://socshared.ml");
        //                     }
        //                 })
        //             }
        //         },
        //         error: function (errMsg) {
        //             $.removeCookie('JWT_AT');
        //             $.removeCookie('JWT_RT');
        //            // window.location.replace("https://socshared.ml");
        //         }
        //     })
        // });
    </script>
    <script th:inline="javascript">
        let ext_url = "/";
        [# th:if="${!content_manager.isEmpty()}" ]
            ext_url = "/social";
        [/]
        [# th:if="${content_manager.isEmpty() && !admin.isEmpty()}"]
            ext_url = "/sys_stat";
        [/]
    </script>
</head>

<body>



<div class="left-wrapper d-none d-sm-none d-md-block" style="position: absolute"></div>

<div class="sh-container-wrapper">


    <div class="left-wrapper d-none d-sm-none d-md-block ">
        <div class="logo shadow">SocShared</div>
        <hr style="color: white; background-color: white"/>
        <nav>
            <ul class="nav flex-column menu">
                <li class="nav-item menu-item">
                    <a id="publication" style="cursor: pointer" class="nav-link active icon-options" th:if="${!content_manager.isEmpty()}" th:onclick="'load_page_menu(this.id,\'' + @{/publication} + '\');'">Публикация</a>
                </li>
                <li class="nav-item menu-item">
                    <a id="social" style="cursor: pointer" class="nav-link active icon-options" th:if="${!content_manager.isEmpty()}" th:onclick="'load_page_menu(this.id,\'' + @{/social} + '\');'">Соц. аккаунты</a>
                </li>
                <!--            <li class="nav-item menu-item">-->
                <!--                <a class="nav-link icon-stat" th:href="@{/social}">Группы и статистика</a>-->
                <!--            </li>-->
                <li class="nav-item menu-item">
                    <a id="support" style="cursor: pointer" class="nav-link icon-support" th:if="${!content_manager.isEmpty() || !admin.isEmpty()}" th:onclick="'load_page_menu(this.id,\'' + @{/support} + '\');'">Поддержка</a>
                </li>
                <li class="nav-item menu-item">
                    <a id="app" style="cursor: pointer" th:if="${!content_manager.isEmpty()}" class="nav-link active icon-options" th:onclick="'load_page_menu(this.id,\'' + @{/app} + '\');'">Приложения</a>
                </li>
                <li class="nav-item menu-item" th:if="${!admin.isEmpty()}">
                    <a id="sys_stat" style="cursor: pointer" class="nav-link active icon-options" th:onclick="'load_page_menu(this.id,\'' + @{/sys_stat} + '\');'">Сист. статистика</a>
                </li>
            </ul>
        </nav>

    </div>
    <div class="right-wrapper container-flux ">

        <nav class="navbar navbar-expand-lg navbar-light  bar shadow">
            <a class="navbar-brand d-block d-sm-block d-md-none" href="/">SocShared</a>

            <button class="navbar-toggler text-right" type="button" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <div class="d-block d-sm-block d-md-none">
                        <a style="cursor: pointer" class="nav-item nav-link" th:onclick="'load_page(\'' + @{/publication} + '\');'">Создать публикацию</a>
                        <a style="cursor: pointer" class="nav-item nav-link" th:onclick="'load_page(\'' + @{/social} + '\');'">Социальные аккаунты</a>
                        <a style="cursor: pointer" class="nav-item nav-link" th:onclick="'load_page(\'' + @{/support} + '\');'">Поддержка</a>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button th:onclick="'load_page(\'' + @{/account} + '\');'" class="btn sh-btn-outline my-2 my-sm-0" type="button" >Аккаунт</button>
                <a th:href="@{/exit}" class="btn sh-btn-outline my-2 my-sm-0" type="button">Выйти</a>
            </div>

        </nav>
        <!-- таблица со списком подключенных аккаунтов-->

<!--        <div layout:fragment="content">Ошибка загрузки страницы!</div>-->



        <div id="sh-content"></div>
        <div id="container-spinner" style="height: 90vh; position: relative;">
            <div id="sh-spinner" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

    </div>

</div>

<script>
    function load_page(url, method) {
        ext_url = url;
        $.ajax({
            url: url,
            method: method,
            dataType: "html",
            beforeSend: function() {
                $("#sh-content").addClass("d-none");
                $("#container-spinner").removeClass("d-none");
            },
            success: function (data) {
                if(data.redirect) {
                    window.location.href = data.redirect;
                } else {
                    $("#container-spinner").addClass("d-none");
                    $("#sh-content").html(data);
                    $("#sh-content").removeClass("d-none");
                }
            },
            error: function(data) {

                $("#container-spinner").addClass("d-none");
                $("#sh-content").html(data.responseText);
                $("#sh-content").removeClass("d-none");
            }
        })
    }

    function load_page_menu(id, url, method) {
        window.history.pushState('forward', null, id);
        load_page(url, method);
    }

    $(document).ready(function () {
        load_page(ext_url, "get");
        window.onpopstate = function(event) {
            if (event.state != null) {
                console.log("location: " + document.location + ", state: " + JSON.stringify(event.state));
                let location = '' + document.location;
                let id = location.replace(window.location.origin + '/', '');
                load_page('/' + id);
            } else {
                load_page(ext_url, "get");
            }
        };
    })
</script>


</body>
</html>