<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content">

    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>

    <!--TODO: сделать реализацию подключения к данным + добавить ajax на получение ключевых слов по тексту в рантайме-->
    <div class="row">
        <div class="col content shadow">
            <div style="text-align: center;"><h3>Формирование публикации</h3></div>
            <form th:action="@{/publication}" th:object="${publication}" method="post">
                <div class="form-group">
                    <label for="text_publication">Текст публикации</label>
                    <textarea class="form-control" id="text_publication" rows="7" th:field="*{text}"></textarea>
                </div>


                <div class="form-group">
                    <input th:field="*{isDeferred}" id="is_deferred" type="checkbox" aria-label="Checkbox for following text input">
                    <label for="is_deferred"> Хотите сделать публикацию отложенной?</label>
                </div>
                <div class="form-group">
                    <div class="input-group date" id="timepicker" data-target-input="nearest" >
                        <input th:field="*{dateTime}" type="text" class="form-control datetimepicker-input" data-target="#timepicker">
                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(function () {
                            $('#timepicker').datetimepicker();
                        });
                    </script>
                </div>
                <button type="submit" class="btn btn-primary">Произвести публикацию</button>
            </form>
        </div>
    </div>

</th:block>

</body>
</html>
