<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content" th:fragment="content">

    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>


    <div class="row content shadow">
        <table id="group-data-table" class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название группы</th>
                <th scope="col">Количество пользователей</th>
                <th scope="col">Тип группы</th>
                <th scope="col">Подключение</th>
            </tr>
            </thead>
            <tbody th:each=" group, i : ${groups_page.content}">

                <tr data-toggle="modal" data-target="#exampleModal">
                    <th scope="row">
                        <a style="display: block; color: black; cursor: pointer" th:onclick="'load_page(\'' + @{/social/vk/groups/{id}(id=${group.systemGroupId})} + '\');'"
                           th:text="${i.index + 1}"></a>
                    </th>
                    <td>
                        <a style="display: block; color: black; cursor: pointer" th:onclick="'load_page(\'' + @{/social/vk/groups/{id}(id=${group.systemGroupId})} + '\');'"
                           th:text="${group.getName()}"></a>
                    </td>
                    <td>
                        <a style="display: block; color: black; cursor: pointer" th:onclick="'load_page(\'' + @{/social/vk/groups/{id}(id=${group.systemGroupId})} + '\');'"
                           th:text="${group.getMembersCount()}"></a>
                    </td>
                    <td>
                        <a style="display: block; color: black; cursor: pointer" th:onclick="'load_page(\'' + @{/social/vk/groups/{id}(id=${group.systemGroupId})} + '\');'"
                           th:text="${group.getType()}"></a>
                    </td>
                    <td>
                        <button th:id="${'connect_' + i.index}" type="button" style="color: white; width: 150px" th:onclick="'group_connect(this.id,\'' + @{/social/vk/groups/connection/{groupId}(groupId=${group.getGroupId()})} + '\', \'Подключить\');'" th:if="${!group.getSelected()}" class="btn sh-btn sh-btn-vk shadow">Подключить</button>
                        <button th:id="${'disconnect_' + i.index}" type="button" style="color: white; width: 150px"  th:onclick="'group_connect(this.id,\'' + @{/social/vk/groups/disconnection/{groupId}(groupId=${group.getGroupId()})} + '\', \'Отключить\');'"  th:if="${group.getSelected()}" class="btn sh-btn sh-btn-vk shadow">Отключить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div th:insert="~{fragments/pagination :: pagination(${groups_page}, @{social/vk/groups}) }" class="col sh-pagination-block"></div>
    </div>

    <script>
        function group_connect(block_id, url, old_text) {
            $.ajax({
                url: url,
                method: "get",
                dataType: "html",
                beforeSend: function () {
                    $('#' + block_id).prop("disabled", true);
                    $('#' + block_id).html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Выполнение...`
                    );
                },
                success: function (data) {
                    $('#' + block_id).prop("disabled", false);
                    result = $(data).find('#group-data-table');
                    $('#group-data-table').html(result);
                }
            })
        }
    </script>
    <script th:src=@{/js/reloaded.js}></script>
</th:block>

</body>
</html>