<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content">

    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>


    <div class="row content shadow">
    <table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название группы</th>
        <th scope="col">Идентификатор</th>
        <th scope="col">Количество пользователей</th>
        <th scope="col">Тип группы</th>
        <th scope="col">Подключение</th>
    </tr>
    </thead>
    <tbody th:each=" group, i : ${groups_page.getObjects()}">
    <tr  data-toggle="modal" data-target="#exampleModal">
        <th scope="row" >
            <a style="display: block; color: black" th:href="@{/social/vk/groups/{path}(path=${group.getGroupId()})}" th:text="${i.index + 1}"></a>
        </th>
        <td>
            <a style="display: block; color: black" th:href="@{/social/vk/groups/{path}(path=${group.getGroupId()})}" th:text="${group.getName()}"></a>
        </td>
        <td >
            <a style="display: block; color: black" th:href="@{https://facebook.com/{club}(club=${group.getName()+'-'+group.getGroupId()})}"  th:text="${group.getGroupId()}"></a>
        </td>
        <td>
            <a style="display: block; color: black" th:href="@{/social/vk/groups/{path}(path=${group.getGroupId()})}" th:text="${group.getMembersCount()}"></a>
        </td>
        <td>
            <a style="display: block; color: black" th:href="@{/social/vk/groups/{path}(path=${group.getGroupId()})}" th:text="${group.getType()}"></a>
        </td>
        <td>
            <a type="button" th:href="@{/social/facebook/groups/connection/{groupId}(groupId=${group.getGroupId()})}" th:if="${!group.isSelected}" class="btn sh-btn sh-btn-fb shadow">Подключить</a>
            <a type="button" th:href="@{/social/facebook/groups/disconnection/{groupId}(groupId=${group.getGroupId()})}" th:if="${group.isSelected}" class="btn sh-btn sh-btn-fb shadow">Отключить</a>
        </td>
    </tr>
    </tbody>
    </table>
    </div>

</th:block>

</body>
</html>