<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content" th:fragment="content">

    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>


    <div class="row content shadow">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название группы</th>
                <th scope="col">Количество пользователей</th>
                <th scope="col">Тип группы</th>
                <th scope="col">Подключение</th>
            </tr>
            </thead>
            <tbody th:each=" group, i : ${groups_page.content}">

                <tr data-toggle="modal" data-target="#exampleModal">
                    <th scope="row">
                        <a style="display: block; color: black"
                           href="#" th:onclick="'load_page(\'' + @{/social/vk/groups/{id}/(id=${group.systemGroupId})} + '\');'"
                           th:text="${i.index + 1}"></a>
                    </th>
                    <td>
                        <a style="display: block; color: black"
                           href="#" th:onclick="'load_page(\'' + @{/social/vk/groups/{id}/(id=${group.systemGroupId})} + '\');'"
                           th:text="${group.getName()}"></a>
                    </td>
                    <td>
                        <a style="display: block; color: black"
                           href="#" th:onclick="'load_page(\'' + @{/social/vk/groups/{id}/(id=${group.systemGroupId})} + '\');'"
                           th:text="${group.getMembersCount()}"></a>
                    </td>
                    <td>
                        <a style="display: block; color: black"
                           href="#" th:onclick="'load_page(\'' + @{/social/vk/groups/{id}/(id=${group.systemGroupId})} + '\');'"
                           th:text="${group.getType()}"></a>
                    </td>
                    <td>
                        <a type="button" style="color: white" th:onclick="'load_page(\'' + @{/social/vk/groups/connection/{groupId}(groupId=${group.getGroupId()})} + '\');'" th:if="${!group.getSelected()}" class="btn sh-btn sh-btn-vk shadow">Подключить</a>
                        <a type="button" style="color: white"  th:onclick="'load_page(\'' + @{/social/vk/groups/disconnection/{groupId}(groupId=${group.getGroupId()})} + '\');'"  th:if="${group.getSelected()}" class="btn sh-btn sh-btn-vk shadow">Отключить</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        //TODO
        function group_connect(block_id, url, old_text) {
            $.ajax({
                url: url,
                method: "get",
                before: function () {
                    $(block_id).prop("disabled", true);
                    $(block_id).html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Выполнение...`
                    );
                },
                success: function () {
                    $(block_id).prop("disabled", false);
                    $(block_id).html(old_text);
                }
            })
        }
    </script>

</th:block>

</body>
</html>