<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content" th:fragment="content">

    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>


    <div class="row content shadow">
    <table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название группы</th>
        <th scope="col">Идентификатор</th>
        <th scope="col">Количество пользователей</th>
        <th scope="col">Тип группы</th>
        <th scope="col">Подключение</th>
    </tr>
    </thead>
    <tbody th:each=" group, i : ${groups_page.getObjects()}">
    <tr  data-toggle="modal" data-target="#exampleModal">
        <th scope="row" >
            <a style="display: block; color: black; cursor: pointer" th:if="${group.getSelected()}" th:onclick="'load_page(\'' + @{/social/facebook/groups/{path}/(path=${group.getSystemGroupId()})} + '\');'"  th:text="${i.index + 1}"></a>
            <p style="display: block; color: black" th:unless="${group.getSelected()}" th:text="${i.index + 1}"></p>

        </th>
        <td>
            <a style="display: block; color: black; cursor: pointer" th:if="${group.getSelected()}" th:onclick="'load_page(\'' + @{/social/facebook/groups/{path}/(path=${group.getSystemGroupId()})} + '\');'" th:text="${group.getName()}"></a>
            <p style="display: block; color: black" th:unless="${group.getSelected()}" th:text="${group.getName()}"></p>
        </td>
        <td >
            <a style="display: block; color: black; cursor: pointer" th:if="${group.getSelected()}" th:href="@{https://facebook.com/{club}(club=${group.getName()+'-'+group.getGroupId()})}"  th:text="${group.getGroupId()}"></a>
            <p style="display: block; color: black" th:unless="${group.getSelected()}" th:text="${group.getGroupId()}"></p>
        </td>
        <td>
            <a style="display: block; color: black; cursor: pointer" th:if="${group.getSelected()}" th:onclick="'load_page(\'' + @{/social/facebook/groups/{path}/(path=${group.getSystemGroupId()})} + '\');'" th:text="${group.getMembersCount()}"></a>
            <p style="display: block; color: black" th:unless="${group.getSelected()}" th:text="${group.getMembersCount()}"></p>
        </td>
        <td>
            <a style="display: block; color: black; cursor: pointer" th:if="${group.getSelected()}" th:onclick="'load_page(\'' + @{/social/facebook/groups/{path}/(path=${group.getSystemGroupId()})} + '\');'" th:text="${group.getType()}"></a>
            <p style="display: block; color: black" th:unless="${group.getSelected()}" th:text="${group.getType()}"></p>
        </td>
        <td>
            <button th:id="${'connect_' + i}" type="button" style="color: white" th:onclick="'group_connect(this.id,\'' + @{/social/facebook/groups/connection/{groupId}(groupId=${group.getGroupId()})} + '\', \'Подключить\');'" th:if="${!group.getSelected()}" class="btn sh-btn sh-btn-fb shadow">Подключить</button>
            <button th:id="${'disconnect_' + i}" type="button" style="color: white" th:onclick="'group_connect(this.id,\'' + @{/social/facebook/groups/disconnection/{groupId}(groupId=${group.getGroupId()})} + '\', \'Отключить\');'" th:if="${group.getSelected()}" class="btn sh-btn sh-btn-fb shadow">Отключить</button>
        </td>
    </tr>
    </tbody>
    </table>
    </div>

    <script>
        function group_connect(block_id, url, old_text) {
            $.ajax({
                url: url,
                method: "get",
                before: function () {
                    $('#' + block_id).prop("disabled", true);
                    $('#' + block_id).html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Выполнение...`
                    );
                },
                success: function () {
                    $('#' + block_id).prop("disabled", false);
                    $('#' + block_id).html(old_text);
                }
            })
        }
    </script>

</th:block>

</body>
</html>