<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content" th:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button style="margin-left: 20px" th:onclick="'load_page(\'' + @{/support/questions/} + '\');'"
                        type="button" class="btn sh-btn sh-btn-vk shadow">Задать вопрос
                </button>
            </div>
        </div>


        <th:block th:each="question : ${questions_page.shortQuestions.content}">
            <div class="row ">
                <div class="col content shadow">
                    <a class="sh-title-block" style="color: black; cursor: pointer" th:text="${question.title}"
                       th:onclick="'load_page(\'' + @{/support/questions/{path}/(path=${question.id})} + '\');'"></a>
                    <div class="sh-info" th:text="${question.haveResponse}"></div>
                    <div class="sh-info" th:text="${question.time}"></div>
                </div>
            </div>
        </th:block>
        <th:block th:if="${questions_page.shortQuestions.getTotalElements() == 0}">
            <div class="row">
                <div class="col content shadow">
                    <center>Вопросы никто не задавал</center>
                </div>
            </div>
        </th:block>

        <div class="row">
            <div th:insert="~{fragments/pagination :: pagination(${questions_page.shortQuestions}, 'support')}"
                 class="col sh-pagination-block"></div>
        </div>
    </div>
    <script th:src=@{/js/reloaded.js}></script>
</th:block>

</body>
</html>