<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content" th:fragment="content">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script th:src=@{/js/reloaded.js}></script>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
            </div>
        </div>

        <div class="row ">
            <div class="col content shadow">
                <form id="question-add-form" th:object="${formAddQuestion}" th:action="@{/support/questions/}" method="post">
                    <div class="form-group">
                        <label for="questionArea">Вопрос (кратко)</label>
                        <input type="text" th:field="*{title}" class="form-control" id="questionArea"
                               aria-describedby="emailHelp"/>
                        <small class="form-text text-muted">Правилно заданный вопрос - это пловина пути решения
                            проблемы</small>
                    </div>
                    <div class="form-group">
                        <label for="commentArea">Подробное описание вопроса</label>
                        <textarea th:field="*{text}" class="form-control" id="commentArea"
                                  aria-describedby="emailHelp"/>
                        <small class="form-text text-muted">Когда ответят на ваш вопрос, вы будете уведомлены по
                            электронной почте</small>
                    </div>
                    <button id="submit-button-form" type="submit" class="btn sh-btn-outline" >Отправить</button>
                </form>

            </div>
        </div>
    </div>

    <script>
        $(function() {
            $('#question-add-form').ajaxForm({
                beforeSubmit: function(arr, $form, options) {
                    $("#submit-button-form").prop("disabled", true);
                    $("#submit-button-form").html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Выполнение...`
                    );
                },
                success: function (data) {
                    $("#sh-content").html(data);
                }
            });
        });
    </script>

</th:block>

</body>
</html>