<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content">

    <div class="row ">
        <div class="col content shadow" >
            <div class="sh-question-title" th:text="${question.title}"></div>
        </div>
    </div>
    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <th:block th:each="comment : ${question.comments.content}">
        <div class="row ">
            <div class="col content shadow" >
                <div class="sh-info" th:class="${question.authorId == comment.authorId ? 'sh-rquest-owner' : ''}" th:text="${comment.text}"></div>
                <div class="sh-info" th:text="${comment.authorId}"></div>
                <div class="sh-info" th:text="${comment.time}"></div>
            </div>
        </div>
    </th:block>
    </div>
    <div class="row fixed-bottom .sh-question-form">

                <div class="col content shadow sh-question-form " >

                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
    </div>


</th:block>

</body>
</html>