<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content">

    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>

    <div class="row content shadow">
        <div class="col-12">
            <div style="text-align: center;"><h3>Системная статистика (Общая информация)</h3></div>
        </div>
        <div class="col-12">
            <h3>Статистика по социальным сетям</h3>
            <hr/>
            <p>Общее соотношение использование Facebook и ВК: <b>Facebook: </b><b th:utext="${using_facebook_perc}"></b><b>VK: </b><b th:utext="${using_vk_perc}"></b></p>
            <p>Количество подключенных аккаунтов Facebook: <b><div th:utext="${soc_count.getFbAccountCount()}"></div></b></p>
            <p>Количество подключенных аккаунтов ВК: <b><div th:utext="${soc_count.getVkAccountCount()}"></div></b></p>
            <p>Количество подключенных групп Facebook: <b><div th:utext="${soc_count.getFacebookGroupCount()}"></div></b></p>
            <p>Количество подключенных групп ВК: <b><div th:utext="${soc_count.getVkGroupCount()}"></div></b></p>
            <p>Общее количество выполненных публикаций: <b><div th:utext="${soc_count.getPublishedCount()}"></div></b></p>
            <p>Общее количество неуспешных публикаций: <b><div th:utext="${soc_count.getNotSuccessfulCount()}"></div></b></p>
            <p>Общее количество публикаций, ожидающие исполнения или имеющие статус "в процессе": <b><div th:utext="${soc_count.getWaitingOrProcessingCount()}"></div></b></p>
            <p>Количество публикаций, отправленных в Facebook: <b><div th:utext="${soc_count.getFbPublicationCount()}"></div></b></p>
            <p>Количество публикаций, отправленных в ВК: <b><div th:utext="${soc_count.getVkPublicationCount()}"></div></b></p>
            <a type="submit" class="btn sh-btn sh-btn-fb shadow" th:href="@{/sys_stat/soc_network}">Подробнее</a>
            <hr/>
            <h3>Статистика по пользователям</h3>
            <hr/>
            <p>Количество всего пользователей: <b><div th:utext="${all_users_count}"></div></b></p>
            <p>Количество новых пользователей: <b><div th:utext="${new_users_count}"></div></b></p>
            <p>Количество активных пользователей: <b><div th:utext="${active_users_count}"></div></b></p>
            <p>Количество пользователей онлайн: <b><div th:utext="${online_users_count}"></div></b></p>
            <a type="submit" class="btn sh-btn sh-btn-fb shadow" th:href="@{/sys_stat/users}">Подробнее</a>
            <hr/>
            <h3>Статистика по системе</h3>
            <hr/>
            <p>Количество ошибок системы: <b><div th:utext="${errors_count}"></div></b></p>
            <a type="submit" class="btn sh-btn sh-btn-fb shadow" th:href="@{/sys_stat/system}">Подробнее</a>
            <hr/>
        </div>
    </div>

</th:block>

</body>
</html>
