<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content" th:fragment="content">
    <script th:src=@{/js/reloaded.js}></script>
    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>

    <div class="row content shadow">
        <div class="col-12">
            <div style="text-align: center;"><h3>Статистика по социальным сетям</h3></div>
        </div>
        <div class="col-12">
            <p>Общее соотношение использования Facebook и ВК</p>
            <div class="row justify-content-center">
                <div class="col-6"
                     th:insert="~{fragments/Chart :: pie(1, 'Соотношение Facebook и VK', ${using_facebook_vk_chart_data.labels}, ${using_facebook_vk_chart_data.data}, ${using_facebook_vk_chart_data.colors})}">
                </div>
            </div>
            <p>Соотношение событий использования Facebook</p>
            <div class="row justify-content-center">
                <div class="col-6"
                     th:insert="~{fragments/Chart :: pie(2, 'Соотношение Facebook', ${using_facebook_chart_data.labels}, ${using_facebook_chart_data.data}, ${using_facebook_chart_data.colors})}">
                </div>
            </div>
            <p>Соотношение событий использования VK</p>
            <div class="row justify-content-center">
                <div class="col-6"
                     th:insert="~{fragments/Chart :: pie(3, 'Соотношение VK', ${using_vk_chart_data.labels}, ${using_vk_chart_data.data}, ${using_vk_chart_data.colors})}">
                </div>
            </div>
            <table class="table table-hover">
                <tbody>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество подключенных аккаунтов Facebook</td>
                    <td><b th:utext="${total_count.getFbAccountCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество подключенных аккаунтов ВК</td>
                    <td><b th:utext="${total_count.getVkAccountCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество подключенных групп Facebook</td>
                    <td><b th:utext="${total_count.getFbGroupCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество подключенных групп ВК</td>
                    <td><b th:utext="${total_count.getVkGroupCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Общее количество выполненных публикаций</td>
                    <td><b th:utext="${total_count.getPublishedPublicationCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Общее количество неуспешных публикаций</td>
                    <td><b th:utext="${total_count.getNotSuccessfulPublicationCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Общее количество публикаций, ожидающие исполнения или имеющие статус "в процессе"</td>
                    <td><b th:utext="${total_count.getWaitingOrProcessingPublicationCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество публикаций, отправленных в Facebook</td>
                    <td><b th:utext="${total_count.getFbPublicationCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество публикаций, отправленных в ВК</td>
                    <td><b th:utext="${total_count.getVkPublicationCount()}"></b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</th:block>

</body>
</html>
