<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content" th:fragment="content">

    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>

    <div class="row content shadow">
        <div class="col-12">
            <div style="text-align: center;"><h3>Системная статистика (Общая информация)</h3></div>
        </div>
        <div class="col-12">
            <h3>Статистика по социальным сетям</h3>
            <table class="table table-hover">
                <tbody>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Общее соотношение использование Facebook и ВК</td>
                    <td><b>Facebook = </b><b th:utext="${total_count.getUsingFacebookPercent()}"></b><b>% VK = </b><b th:utext="${total_count.getUsingVkPercent()}"></b><b>%</b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество подключенных аккаунтов Facebook</td>
                    <td><b th:utext="${total_count.getFbAccountCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество подключенных аккаунтов ВК</td>
                    <td><b th:utext="${total_count.getVkAccountCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество подключенных групп Facebook</td>
                    <td><b th:utext="${total_count.getFbGroupCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество подключенных групп ВК</td>
                    <td><b th:utext="${total_count.getVkGroupCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Общее количество выполненных публикаций</td>
                    <td><b th:utext="${total_count.getPublishedPublicationCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Общее количество неуспешных публикаций</td>
                    <td><b th:utext="${total_count.getNotSuccessfulPublicationCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Общее количество публикаций, ожидающие исполнения или имеющие статус "в процессе"</td>
                    <td><b th:utext="${total_count.getWaitingOrProcessingPublicationCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество публикаций, отправленных в Facebook</td>
                    <td><b th:utext="${total_count.getFbPublicationCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество публикаций, отправленных в ВК</td>
                    <td><b th:utext="${total_count.getVkPublicationCount()}"></b></td>
                </tr>
                </tbody>
            </table>
            <a type="submit" class="btn sh-btn sh-btn-fb shadow" th:href="@{/sys_stat/soc_network}">Подробнее</a>
            <hr/>
            <h3>Статистика по пользователям</h3>
            <table class="table table-hover">
                <tbody>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество всего пользователей</td>
                    <td><b th:utext="${total_count.getAllUsersCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество новых пользователей</td>
                    <td><b th:utext="${total_count.getNewUsersCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество активных пользователей</td>
                    <td><b th:utext="${total_count.getActiveUsersCount()}"></b></td>
                </tr>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество пользователей онлайн</td>
                    <td><b th:utext="${total_count.getOnlineUsersCount()}"></b></td>
                </tr>
                </tbody>
            </table>
            <a type="submit" class="btn sh-btn sh-btn-fb shadow" th:href="@{/sys_stat/users}">Подробнее</a>
            <hr/>
            <h3>Статистика по системе</h3>
            <table class="table table-hover">
                <tbody>
                <tr data-toggle="modal" data-target="#exampleModal">
                    <td>Количество ошибок системы</td>
                    <td><b th:utext="${total_count.getErrorsCount()}"></b></td>
                </tr>
                </tbody>
            </table>
            <a type="submit" class="btn sh-btn sh-btn-fb shadow" th:href="@{/sys_stat/info}">Подробнее</a>
            <hr/>
        </div>
    </div>

</th:block>

</body>
</html>
