<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{index}">
<body>

<th:block layout:fragment="content">

    <div class="row">
        <div class="col">
            <th:block th:replace="~{fragments/breadcrumbs :: breadcrumbs(${bread})}"></th:block>
        </div>
    </div>

    <div class="row content shadow">
        <div class="col-12">
            <div style="text-align: center;"><h3>Системная статистика (Общая информация)</h3></div>
        </div>
        <div class="col-12">
            <h3>Статистика по социальным сетям</h3>
            <hr/>
            <p>Общее соотношение использование Facebook и ВК</p>
            <div class="row justify-content-center">
                <div class="col-6"
                     th:insert="~{fragments/Chart :: pie(1, 'Соотношение', ${soc_pie_chart.labels}, ${soc_pie_chart.data}, ${soc_pie_chart.colors})}">
                </div>
            </div>
            <p>Количество подключенных аккаунтов Facebook</p>
            <div class="row justify-content-center">
                <div class="col-6"
                     th:insert="~{fragments/Chart :: chart(2, 'Аккаунты Facebook', ${fb_number_chart.second}, ${fb_number_chart.first}, '#3b5998', 'line')}">
                </div>
            </div>
            <p>Количество подключенных аккаунтов ВК</p>
        <div class="row justify-content-center">
            <div class="col-6"
                 th:insert="~{fragments/Chart :: chart(3, 'Аккаунты ВКонтакте', ${vk_number_chart.second}, ${fb_number_chart.first}, '#4d7198', 'line')}">
        </div>
    </div>
            <p>Количество подключенных групп Facebook</p>
            <p>Количество подключенных групп ВК</p>
            <p>Общее количество выполненных публикаций</p>
            <p>Общее количество невыполненных публикаций</p>
            <p>Общее количество публикаций, ожидающие исполнения или имеющие статус "в процессе"</p>
            <p>Количество публикаций, отправленных в ВК</p>
            <p>Количество публикаций, отправленных в Facebook</p>
            <a type="submit" class="btn sh-btn sh-btn-fb shadow" th:href="@{/sys_stat/soc_network}">Подробнее</a>
            <hr/>
            <h3>Статистика по пользователям</h3>
            <hr/>
            <p>Количество всего пользователей</p>
            <p>Количество новых пользователей</p>
            <p>Количество активных пользователей</p>
            <p>Количество пользователей онлайн</p>
            <a type="submit" class="btn sh-btn sh-btn-fb shadow" th:href="@{/sys_stat/users}">Подробнее</a>
            <hr/>
            <h3>Статистика по системе</h3>
            <hr/>
            <p>Количество ошибок системы</p>
            <a type="submit" class="btn sh-btn sh-btn-fb shadow" th:href="@{/sys_stat/system}">Подробнее</a>
            <hr/>
        </div>
    </div>

</th:block>

</body>
</html>
